@model RevisionModel
@{
    ViewData["Title"] = "GuardarRevision";
    Layout = "~/Views/Shared/mecanico/_Layout.cshtml";
}



<div class="containerVehiculo">

    <div class="containerTitleVehiculo">
        <p>Guardar Niveles</p>
    </div>

    <form class="formVSoat" asp-action="GuardarRevision" asp-controller="Mecanico" method="post">
        <div class="containerInputsSoat">

            <div class="containerChildInputsMecanico">

                <label>Id Servicio</label>
                <input asp-for="id_Servicio" />
                <span asp-validation-for="id_Servicio" style="color:red"></span>             


            </div>

            <div class="containerChildInputsMecanico">

                <label>Nivel de Aceite</label>
                <input asp-for="NivelAceite" />
                <span asp-validation-for="NivelAceite" style="color:red"></span>


            </div>
            <div class="containerChildInputsMecanico">

                <label>Nivel de Liquido Frenos</label>
                <input asp-for="NivelLiquidoFrenos" />
                <span asp-validation-for="NivelLiquidoFrenos" style="color:red"></span>


            </div>
            <div class="containerChildInputsMecanico">

                <label>Nivel Refrigerante</label>
                <input asp-for="NivelRefrigerante" />
                <span asp-validation-for="NivelRefrigerante" style="color:red"></span>

            </div>
            <div class="containerChildInputsMecanico">

                <label>Nivel Liquido Dirección</label>
                <input asp-for="NivelLiquidoDireccion" />
                <span asp-validation-for="NivelLiquidoDireccion" style="color:red"></span>


            </div>


        </div>

        <div class="containerBtnForm">
            <button class="btnGuardarMecanico" type="submit">CREAR</button>
        </div>

    </form>

</div>