@model MecanicoModel
@{
    ViewData["Title"] = "ObtenerDocumentoServicio";
    Layout = "~/Views/Shared/mecanico/_Layout.cshtml";
}




<div class="ContainerInputPlaca">
    <h1>Buscar servicios Documento mecanico</h1>

    <div class="formEditarVehiculo">

        <form class="ContainerInputPlaca" asp-action="ListaServiciosMecanico" asp-controller="Mecanico">
            Buscar Documento:
            <input asp-for="Identificacion" type="Search" class="containerInputsBuscarPlaca" id="StudentName">
            <span asp-validation-for="Identificacion" style="color:red"></span>
            <button class="btnBuscarPlaca" type="submit">Buscar </button>
        </form>
    </div>
</div>


