./proyecto-taller-alto-nivel/.vs/
./proyecto-taller-alto-nivel/.vs/FileContentIndex
./proyecto-taller-alto-nivel/.vs/v17
./taller-confiable/proyecto-taller-alto-nivel/proyecto-taller-alto-nivel/obj/
./taller-confiable/proyecto-taller-alto-nivel/proyecto-taller-alto-nivel/bin/
./proyecto-taller-alto-nivel/proyecto-taller-alto-nivel/bin/Debug/net6.0/proyecto-taller-alto-nivel.dll
./proyecto-taller-alto-nivel/proyecto-taller-alto-nivel/bin/Debug/net6.0/proyecto-taller-alto-nivel.pdb
/proyecto-taller-alto-nivel/proyecto-taller-alto-nivel/bin/Debug/net6.0/proyecto-taller-alto-nivel.dll
/proyecto-taller-alto-nivel/proyecto-taller-alto-nivel/bin/Debug/net6.0/proyecto-taller-alto-nivel.pdb
proyecto-taller-alto-nivel.pdb
proyecto-taller-alto-nivel.dll
./proyecto-taller-alto-nivel/.vs/ProjectEvaluation/proyecto-taller-alto-nivel.metadata.v5.1
./proyecto-taller-alto-nivel/.vs/ProjectEvaluation/proyecto-taller-alto-nivel.projects.v5.1
/proyecto-taller-alto-nivel/.vs/ProjectEvaluation/proyecto-taller-alto-nivel.metadata.v5.1
/proyecto-taller-alto-nivel/.vs/ProjectEvaluation/proyecto-taller-alto-nivel.projects.v5.1
proyecto-taller-alto-nivel.metadata.v5.1
proyecto-taller-alto-nivel.projects.v5.1
