./proyecto-taller-alto-nivel/.vs/
./proyecto-taller-alto-nivel/.vs/FileContentIndex
./proyecto-taller-alto-nivel/.vs/v17
./taller-confiable/proyecto-taller-alto-nivel/proyecto-taller-alto-nivel/obj/
./taller-confiable/proyecto-taller-alto-nivel/proyecto-taller-alto-nivel/bin/
