@model VehiculoModel
@{
    ViewData["Title"] = "EditarPlaca";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}

<div class="containerVehiculo">

    <div class="containerTitleVehiculo">
        <p>Editar Vehiculo</p>
    </div>

    <form class="formVehiculo" asp-action="EditarPlaca" asp-controller="Auxiliar" method="post">

        <input asp-for="Licencia" type="hidden" class="form-control">

        <div class="containerInputsVehiculo">

            <div class="containerChildInputsVehiculo">

                <label>Id Vehiculo</label>
                <input asp-for="id_Vehiculo" type="text" class="form-control" />
                <span asp-validation-for="id_Vehiculo" style="color:red"></span>

                <label>Placa</label>
                <input asp-for="Licencia" type="text" class="form-control" />
                <span asp-validation-for="Licencia" style="color:red"></span>

                <label>Tipo</label>
                <input asp-for="Tipo" type="text" class="form-control" />
                <span asp-validation-for="Tipo" style="color:red"></span>

            </div>

            <div class="containerChildInputsVehiculo">

                <label>Marca</label>
                <input asp-for="Marca" type="text" class="form-control" />
                <span asp-validation-for="Marca" style="color:red"></span>

                <label>Modelo</label>
                <input asp-for="Modelo" type="text" class="form-control" />
                <span asp-validation-for="Modelo" style="color:red"></span>

                <label>Capacidad de pasajeros</label>
                <input asp-for="Capacidad" type="text" class="form-control" />
                <span asp-validation-for="Capacidad" style="color:red"></span>


            </div>

            <div class="containerChildInputsVehiculo">

                <label>Cilindraje</label>
                <input asp-for="Desplazamiento" type="text" class="form-control" />
                <span asp-validation-for="Desplazamiento" style="color:red"></span>

                <label>Pais de origen</label>
                <input asp-for="PaisOrigen" type="text" class="form-control" />
                <span asp-validation-for="PaisOrigen" style="color:red"></span>

                <label>Descripcion</label>
                <input asp-for="Descripcion" type="text" class="form-control" />
                <span asp-validation-for="Descripcion" style="color:red"></span>

            </div>

        </div>

        <div class="containerBtnForm">
            <button class="btnGuardarVehiculo" type="submit">GUARDAR</button>
        </div>

        <div class="containerBtnForm">
            <a asp-action="ListarVehiculo" asp-controller="Auxiliar" class="btn btn-warning">Volver a la lista</a>

            <label>
                Buscar Placa:
                <input asp-for="Licencia" type="search">
                <button class="btnBuscarPlaca" type="submit">Buscar</button>
            </label>

        </div>
    </form>
</div>
