@model PropietarioModel
@{
    ViewData["Title"] = "EditarPropietario";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}




<div class="containerVehiculo">

    <div class="containerTitleVehiculo">
        <p>Crear Nuevo Propietario</p>
    </div>

    <form class="formPropietario" asp-action="EditarPropietario" asp-controller="Auxiliar" method="post">
        <input asp-for="id_Persona" type="hidden" class="form-control">
        <div class="containerInputsPropietario">

            <div class="containerChildInputsPropietario">
                <input asp-for="id_Persona" hidden />

                <label>Identificacion</label>
                <input asp-for="Identificacion" />
                <span asp-validation-for="Identificacion" style="color:red"></span>

                <label>Nacimiento</label>
                <input asp-for="Nacimiento" />
                <span asp-validation-for="Nacimiento" style="color:red"></span>

            </div>

            <div class="containerChildInputsPropietario">

                <label>Nombre</label>
                <input asp-for="Nombre" />
                <span asp-validation-for="Nombre" style="color:red"></span>

                <label>Ciudad</label>
                <input asp-for="Ciudad" />
                <span asp-validation-for="Ciudad" style="color:red"></span>
            </div>

            <div class="containerChildInputsPropietario">

                <label>Apellido</label>
                <input asp-for="Apellido" />
                <span asp-validation-for="Apellido" style="color:red"></span>

                <label>Correo</label>
                <input asp-for="Correo" />
                <span asp-validation-for="Correo" style="color:red"></span>

            </div>

        </div>

        <div class="containerBtnForm">
            <button class="btnGuardarMecanico" type="submit">GUARDAR</button>
        </div>

    </form>

</div>


