@{
    ViewData["Title"] = "Editar Vehiculo";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}

<div class="containerEditar">

    <div class="ContainerDatos">
        <form class="formEditarVehiculo">

            <div class="containerBuscarPlaca">

                <label for="License">
                    Ingrese Placa:
                    <input type="text" id="License" name="License" class="cajaTexto2">
                    <input type="button" value="BUSCAR" class="botonBuscar">

                </label>
            </div>

            <div class=ContainerTablaDatosVehiculo>
                <table class="tablaVehiculo">

                    <thead>
                        <tr>
                            <th class="cabeceroIzq">Placa</th>
                            <th>Tipo</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>capacidad</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="ContainerPropietarioVehiculo">


                <div class="containerPropietario">

                    <label for="License">
                        Propietrario del Vehiculo:
                        <input type="text" id="Id_Owner" name="Owner" class="cajaTexto2">

                    </label>
                </div>


            </div>

            <div class="ContainerAsignacionesVehiculo">


                <div class="containerAsignacion">

                    <label for="Owner">
                        Asignar Dueño:
                        <input type="text" id="Owner" name="Owner" class="cajaTexto">
                        <input type="button" value="GUARDAR" class="botonGuardar">

                    </label>

                    <label for="Mechanic">
                        Asignar Mecanico:
                        <input type="text" id="Mechanic" name="Mechanic" class="cajaTexto">
                        <input type="button" value="GUARDAR" class="botonGuardar">

                    </label>
                </div>

            </div>

            <div class="containerTablaSoat">
                <table class="tablaSoat">

                    <thead>
                        <tr>
                            <th>Num Poliza</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Final</th>
                            <th>Historial</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                            <td>*</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
