@{
    ViewData["Title"] = "Nuevo Mecanico";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}

<div class="containerNewMecanico">
    
    <div class="containerTitleMecanico">
        <span>Guardar mecanico</span>
    </div>
    

    <form class="formMecanico" >
        <div>
            <input placeholder="aqui va un texto"/>
            <input placeholder="aqui va un texto" />
            <input placeholder="aqui va un texto" />
            <input placeholder="aqui va un texto" />
            <input placeholder="aqui va un texto" />
        </div>


        <button>submit</button>
    </form>

</div>