@{
    ViewData["Title"] = "Nuevo Mecanico";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}

<h2>Guardar mecanico</h2>

<form >
    <input placeholder="aqui va un texto"/>
    <button>submit</button>
</form>