@model VehiculoModel

@{
    ViewData["Title"] = "Nuevo Vehiculo";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}


<div class="containerVehiculo">

    <div class="containerTitleVehiculo">
        <p>Guardar Vehiculo</p>
    </div>

    <form class="formVehiculo" asp-action="GuardarVehiculo" asp-controller="Auxiliar" method="post">
        <div class="containerInputsVehiculo">

            <div class="containerChildInputsVehiculo">

                <label>Placa</label>
                <input asp-for="Liciencia"/>

                <label>Pais de origen</label>
                <input asp-for="PaisOrigen"/>

                <label>Tipo</label>
                <select asp-for="Tipo">
                    <option>Campero</option>
                    <option>Camioneta</option>
                    <option>Deportivo</option>
                    <option>Taxi</option>
                </select>

            </div>

            <div class="containerChildInputsVehiculo">

                <label>Marca</label>
                <input asp-for="Marca"/>

                <label>Desplazamiento</label>
                <input asp-for="Desplazamiento"/>

                <label>Id propietario</label>
                <input asp-for="Id_Propietario" />

            </div>

            <div class="containerChildInputsVehiculo">

                <label>Modelo</label>
                <input asp-for="Modelo"/>

                <label>Capacidad de pasajeros</label>
                <input asp-for="Capacidad" />

                <label>Descripcion</label>
                <input asp-for="Descripcion"/>

            </div>

        </div>

        <div class="containerBtnForm">
            <button class="btnGuardarVehiculo" type="submit">CREAR</button>
        </div>

     </form>

</div>
