@{
    ViewData["Title"] = "Nuevo Propietario";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}


<div class="containerPropietario">

    <div class="containerTitlePropietario">
        <p>Ingreso de Nuevo Propietario de Vehiculo</p>
    </div>

    <form class="formVPropietario">
        <div class="containerInputsPropietario">

            <div class="containerChildInputsPropietario">

                <label>Nombre</label>
                <input />

                <label>Ciudad</label>
                <input />

                            

            </div>

            <div class="containerChildInputsPropietario">

                <label>Apellidos</label>
                <input />

                <label>Dirección</label>
                <input />

            </div>

            <div class="containerChildInputsPropietario">

                <label>Telefono</label>
                <input />

                

            </div>

        </div>

        <div class="containerBtnForm">
            <a class="btnGuardarPropietario">CREAR</a>
        </div>

    </form>

</div>