@{
    ViewData["Title"] = "Nuevo Vehiculo";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}

<h2>Guardar Vehiculo</h2>

<form>
    <input placeholder="aqui va un texto"/>
    <input placeholder="aqui va un texto" />
    <input placeholder="aqui va un texto" />
    <input placeholder="aqui va un texto" />
    <input placeholder="aqui va un texto"/>
    <button>submit</button>
</form>