@{
    ViewData["Title"] = "Nuevo Mecanico";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}


<div class="containerVehiculo">

    <div class="containerTitleVehiculo">
        <p>Guardar Mecánico</p>
    </div>

    <form class="formVehiculo">
        <div class="containerInputsMecanico">

            <div class="containerChildInputsMecanico">

                <label>Nombre</label>
                <input />

                <label>Ciudad</label>
                <input />


            </div>

            <div class="containerChildInputsMecanico">

                <label>Apellido</label>
                <input />

                <label>Dirección</label>
                <input />

            </div>

            <div class="containerChildInputsMecanico">

                <label>Teléfono</label>
                <input />



            </div>

        </div>

        <div class="containerBtnForm">
            <a class="btnGuardarMecanico">CREAR</a>
        </div>

    </form>

</div>