
@{
    ViewData["Title"] = "ListarVehiculo";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}
<div class=ContainerListaVehiculos>
    <form class="formListarVehiculo">
 
      <h1 class="TituloListarVehiculos">
        LISTADO GENERAL DE VEHICULOS</h1>


       <table class="listaVehiculos">
          <thead>
              <tr>
                <th>Placa</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Capacidad</th>
                <th>Seguro</th>
                <th>Propietario</th>
                <th>Revision</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BMX678</td>
                <td>Convencional</td>
                <td>Chevrolet</td>
                <td>Sail 2016</td>
                <td>5</td>
                <td>SOAT 2021</td>
                <td>Pepito Perez</td>
                <td>Jorge Rodriguez</td>
                <td><a href="#">Ver</a></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>BMX678</td>
                <td>Convencional</td>
                <td>Chevrolet</td>
                <td>Sail 2016</td>
                <td>5</td>
                <td>SOAT 2021</td>
                <td>Pepito Perez</td>
                <td>Jorge Rodriguez</td>
                <td><a href="#">Ver</a></td>
            </tr>
        </tbody>
         <tbody>
            <tr>
                <td>BMX678</td>
                <td>Convencional</td>
                <td>Chevrolet</td>
                <td>Sail 2016</td>
                <td>5</td>
                <td>SOAT 2021</td>
                <td>Pepito Perez</td>
                <td>Jorge Rodriguez</td>
                <td><a href="#">Ver</a></td>
            </tr>
        </tbody>
         <tbody>
            <tr>
                <td>BMX678</td>
                <td>Convencional</td>
                <td>Chevrolet</td>
                <td>Sail 2016</td>
                <td>5</td>
                <td>SOAT 2021</td>
                <td>Pepito Perez</td>
                <td>Jorge Rodriguez</td>
                <td><a href="#">Ver</a></td>
             </tr>
          </tbody>
          <tbody>
             <tr>
                <td>BMX678</td>
                <td>Convencional</td>
                <td>Chevrolet</td>
                <td>Sail 2016</td>
                <td>5</td>
                <td>SOAT 2021</td>
                <td>Pepito Perez</td>
                <td>Jorge Rodriguez</td>
                <td><a href="#">Ver</a></td>
             </tr>
          </tbody>

      </table>
   </form>

</div>

