
@{
    ViewData["Title"] = "ListarVehiculo";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}

<h1 class="TituloListarVehiculos">
    LISTADO GENERAL DE VEHICULOS</h1>

<div class=ContainerListaVehiculos>
    <table class="listaVehiculos">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Capacidad</th>
                <th>Seguro</th>
                <th>Propietario</th>
                <th>Revision</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>*</td>
                <td>*</td>
                <td>*</td>
                <td>*</td>
                <td>*</td>
                <td>*</td>
                <td>*</td>
                <td>*</td>
                <td>*</td>
            </tr>
        </tbody>

    </table>

</div>

