@model List<SoatModel>
@{
    ViewData["Title"] = "ListarSoat";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}
<div class="containerEditar">
   
    <div class="TituloListarSoat">
        SOAT
    </div>

    <div class="containerTable">
        <table class="ListaSoat">

        </table>
        <table class="ListaSoat">

            <thead>
                <tr>
                    <th>Numero de Propietario</th>
                    <th>Fecha de Compra</th>
                    <th>Fecha de Vencimiento</th>                   
                    <th>Numero de Poliza</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id_Propietario</td>
                        <td>@item.FechaInicio</td>
                        <td>@item.FechaFin</td>
                        <td>@item.NumeroPoliza</td>
                    </tr>
                    
                }
            </tbody>
        </table>
        <a asp-action="GuardarSoat" asp-controller="Auxiliar" class="btnCrearNuevo">CREAR NUEVO</a>
    </div>

</div>


