@model VehiculoModel
@{
    ViewData["Title"] = "ObtenerPlaca";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}


<div class="ContainerInputPlaca">
    <h1>Buscar Placa</h1>

        <form class="formEditarVehiculo" asp-action="ObtenerVehiculo" asp-controller="Auxiliar" method="post">
            
            <div class="ContainerInputPlaca">
                Buscar Placa:
                <input asp-for="Licencia" type="Search" class="containerInputsBuscarPlaca">
                <span asp-validation-for="Licencia" style="color:red"></span>
                <input type="submit" value="Buscar" class="btnBuscarPlaca">
            </div>
        </form>
</div>


