@model VehiculoModel
@{
    ViewData["Title"] = "ObtenerVehiculo";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}

<div class="containerEditar">

    <div class="ContainerDatosVehiculo">
        <form class="formEditarVehiculo" asp-action="ObtenerVehiculo" asp-controller="Auxiliar" method="post">
            
            <div class="ContainerInputPlaca">
                Buscar Placa:
                <input asp-for="Licencia" type="Search" class="containerInputsBuscarPlaca">
                <input type="submit" value="Buscar" class="btnBuscarPlaca">
            </div>


            <div class="containerBuscarPlaca">
                <p>Detalle del Vehiculo</p>
                
            </div>
            <div class="containerInputsVehiculo">
                <div class=containerChildInputsVehiculo>

                    <label>Id vehiculo</label>
                    <input asp-for="id_Vehiculo" type="text" class="form-control" />

                    <label>Placa</label>
                    <input asp-for="Licencia" type="text" class="form-control" />

                    <label>Tipo</label>
                    <input asp-for="Tipo" type="text" class="form-control" />

                </div>

                <div class=containerChildInputsVehiculo>

                    <label>Marca</label>
                    <input asp-for="Marca" type="text" class="form-control" />

                    <label>Modelo</label>
                    <input asp-for="Modelo" type="text" class="form-control" />

                    <label>Capacidad</label>
                    <input asp-for="Capacidad" type="text" class="form-control" />

                </div>
                <div class=containerChildInputsVehiculo>

                    <label>Cilindraje</label>
                    <input asp-for="Desplazamiento" type="text" class="form-control" />

                    <label>Pais de Origen</label>
                    <input asp-for="PaisOrigen" type="text" class="form-control" />

                    <label>Descripcion</label>
                    <input asp-for="Descripcion" type="text" class="form-control" />

                </div>
            </div>
            <div class="containerBuscarPlaca">

                <a asp-action="EditarVehiculo" asp-controller="Auxiliar" class="btnEditarVeh" asp-route-id_Vehiculo="id_Vehiculo">Editar</a>
                <a asp-action="EliminarVehiculo" asp-controller="Auxiliar" class="btnEliminarVeh" asp-route-id_Vehiculo="id_Vehiculo">Eliminar</a>

            </div>

            <div class="containerBtnForm">
                <a asp-action="ListarVehiculo" asp-controller="Auxiliar" class="btn btn-warning">Volver a la lista</a>

            </div>

        </form>
    </div>
</div>