<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/home/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/contenidoIndex.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home/login.css" asp-append-version="true" />
</head>
<body>

    <div class="headerIndex">
        <div>
           <a asp-action="Index" asp-controller="Home"> <img src="../img/auxiliar/logo.png" class="imgLogo" /></a>
        </div>
        <div class="containerBtns">
            <a asp-action="Login" asp-controller="Home" class="btnLogin">Inicia Sesión</a>
            <a asp-action="Registro" asp-controller="Home" class="btnRegistro">Registrate aquí</a>
        </div>
    </div>

    <div class="containerMain">
        @RenderBody()
    </div>

    <div class="footer">
       Aqui iria el footer
    </div>
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
