@{
    ViewData["Title"] = "Home Page";
}

<div class="containerContenido" style="background:url(../../wwwroot/img/auxiliar/bg_home.png)">
    <div class="containerSlider">


        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="~/img/slider1.jpg" class="img">
            
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="~/img/slider2.jpg" class="img">
            
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="~/img/slider3.jpg" class="img">
            
        </div>




        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

    </div>
    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "grid";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 6000); 
        }
    </script>

    <div class="ContainerServicios">
        <h1>Nuestros Servicios</h1>
        <div class="containerCards">
            <div class="card">
                <div class="containerImg">
                    <img src="~/img/auxiliar/servicio.png" class="imgService"/>
                </div>
                <div class="containerTextService grey">
                    Servicio
                </div>
            </div>
            <div class="card">
                <div class="containerImg">
                    <img src="~/img/auxiliar/Seguro.png" class="imgService" />
                </div>
                <div class="containerTextService red">
                    Seguro
                </div>
            </div>
            <div class="card">
                <div class="containerImg">
                    <img src="~/img/auxiliar/repuestos.png" class="imgService" />
                </div>
                <div class="containerTextService blue">
                    Repuestos
                </div>
            </div>
        </div>
    </div>
</div>
