@{
    ViewData["Title"] = "Home Page";
}

<div class="containerContenido">
<div class="containerSlider">
   Aqui iria el slider
</div>

<div class="ContainerServicios">
    <h2>Nuestros Servicios</h2>
</div>
</div>
