@{
    ViewData["Title"] = "Home Page";
}

<div class="containerContenido">
    <div class="containerSlider">
        Aqui iria el slider
    </div>

    <div class="ContainerServicios">
        <h1>Nuestros Servicios</h1>
        <div class="containerCards">
            <div class="card">
                <div class="containerImg">
                    <img src="~/img/auxiliar/servicio.png" class="imgService"/>
                </div>
                <div class="containerTextService grey">
                    Servicio
                </div>
            </div>
            <div class="card">
                <div class="containerImg">
                    <img src="~/img/auxiliar/Seguro.png" class="imgService" />
                </div>
                <div class="containerTextService red">
                    Seguro
                </div>
            </div>
            <div class="card">
                <div class="containerImg">
                    <img src="~/img/auxiliar/repuestos.png" class="imgService" />
                </div>
                <div class="containerTextService blue">
                    Repuestos
                </div>
            </div>
        </div>
    </div>
</div>
