@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a asp-action="GuardarMecanico" asp-controller="Auxiliar" class="btnVista">Ir a vista Auxiliar</a>
    <a asp-action="Index" asp-controller="Home" class="btnVista">Regresar</a>
</div>
  
