.TituloListarVehiculos {
    font-size: 15px;
    margin-right: 56%;
    min-height: 10%;
    font-weight: bold;
}

.listaVehiculos {
    border-collapse: separate;
    margin-top: 60px;
    font-size: 1em;
    border-spacing: 1px 10px;
    font-family: sans-serif;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    .listaVehiculos thead tr {
        background-color: #090623;
        color: #ffffff;
        text-align: center;
    }


.listaVehiculos th, .styled-table td {
     padding: 12px 26px;

 }

    .listaVehiculos tbody tr {
        border-bottom: 1px solid #dddddd;
        text-align: center;

    }

        .listaVehiculos tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

.btnEditarVehiculo {
    width: 90px;
    background: #090623;
    color: white;
    text-align: center;
    padding: 5px 19px;
    font-size: 10px;
}

    .btnEditarVehiculo:hover {
        cursor: pointer;
        font-weight: bold;
    }

.btnEliminarVehiculo {
    width: 90px;
    background: #f80c4c;
    color: white;
    text-align: center;
    padding: 5px 15px;
    font-size: 10px;
}

    .btnEliminarVehiculo:hover {
        cursor: pointer;
        font-weight: bold;
    }

.btnCrearNuevo {
    background-color: #f80c4c;
    border: none;
    color: white;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    min-width: 40px;
    margin-top: 40px;
}